<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Groups - Learning App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" type="text/javascript"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <script type="text/javascript">
            var selectedSuggestion;
            var selectedGroup;
            $(document).ready(function(){

                var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
                })

                var myModalEl = document.getElementById('addMemberModal');
                    myModalEl.addEventListener('shown.bs.modal', function (event) {
                        console.log("Opened share modal");
                        $('#addMemberInput').focus();
                    });
                    myModalEl.addEventListener('hidden.bs.modal', function (event) {
                        deselectSuggestion();
                        selectedGroup = "";
                        $('#addMemberInput').val('');
                        $('#addMemberSuggestions').html("");
                    });

                $('#newGroupButton').click(function(){
                    var group_name = $('#newGroupNameInput').val();
                    if (group_name == "") {
                        console.log("No name provided for new group");
                        $('#newGroupNameInput').addClass("form_err").focus();
                        return;
                    }
                    console.log("Creating a new group named "+group_name);

                    $.ajax({
                        url: "/api/create_group",
                        method: "POST",
                        data: { name: group_name},
                        success: function(data){
                            window.location.reload();
                        },
                        error: function(error) {
                            console.log("Error creating group "+error);
                        }
                    });
                });

                $( "#newGroupNameInput" ).on( "keyup", function() {
                    
                    var group_name = $('#newGroupNameInput').val();

                    if (group_name == ""){
                        $('#newGroupNameInput').addClass("form_err");
                    }
                    else {
                        $('#newGroupNameInput').removeClass("form_err");
                    }

                    } );



                    $('#addMemberInput').on("keyup", function(){
                        
                        var partial = $('#addMemberInput').val();
                        deselectSuggestion();

                        $('#addMemberSuggestions').html("");

                        if (partial.length > 1){
                                $.ajax({
                                    url: "/api/user_autocomplete",
                                    method: "POST",
                                    data: { partial: partial},
                                    success: function(data){
                                        data.users.forEach(function(user){
                                            var element = `<li class="list-group-item suggestion_result" onclick="selectSuggestion('${user.uuid}','${user.email}')" id="suggestion_${user.uuid}"><img src="${user.image}" referrerpolicy="no-referrer" class="rounded-circle" width="22"> ${user.name} <small>&lt;${user.email} &gt;</small></li>`;
                                            $('#addMemberSuggestions').append(element);
                                        });
                                    },
                                    error: function(error) {
                                        console.error("Autocomplete Error:", error);
                                    }
                                });
                            }
                            

                    });

                    $('#addMemberConfirm').click(function(){
                        group_uuid = selectedGroup;
                        user_uuid = $('#share_uuid').val();

                        if ($('#addMemberGroupAdmin').is(":checked")){
                            user_role = "admin";
                        }
                        else {
                            user_role = "member"
                        }

                        console.log("Adding user "+user_uuid+" to group "+group_uuid+" as "+user_role);

                        $.ajax({
                            url: "/api/group/add/" + group_uuid,
                            method: "POST",
                            data: { user_uuid: user_uuid, role: user_role},
                            success: function(data){
                                window.location.reload();
                            },
                            error: function(error) {
                                console.log("Error adding user to group "+error);
                            }
                        });

                    });

            });

            function addMember(group_uuid){
                selectedGroup = group_uuid;

                var myModalEl = document.querySelector('#addMemberModal')
                var modal = bootstrap.Modal.getOrCreateInstance(myModalEl)

                modal.show();
            }

            function selectSuggestion(item_uuid, name){
                if (item_uuid == selectedSuggestion){
                    deselectSuggestion();
                }
                else {
                    var type = $('#shareType').val();
                    $('#addMemberInput').val(name);
                    selectedSuggestion = item_uuid;
                    $('#share_uuid').val(item_uuid);

                    console.log("Selecting item "+item_uuid);

                    $("#suggestion_"+item_uuid).addClass("selected_suggestion");

                    $('#addMemberConfirm').prop( "disabled", false );
                }
            }

            function deselectSuggestion(){
                $('#addMemberConfirm').prop( "disabled", true );
                $("#suggestion_"+selectedSuggestion).removeClass("selected_suggestion");
                $('#share_uuid').val("");
                console.log("Deselecting item "+selectedSuggestion)
                selectedSuggestion = "";
            }

            function manageGroup(group_uuid){
                selectedGroup = group_uuid;
                // Clear modal fields
                $('#manageGroupTitle').html("");
                $('#manageGroupMembers').html("");
                $('#manageGroupNameInput').val("");
                $('#manageGroupUUID').val("");
                $('#manageGroupMemberCount').html("");
                $('manageGroupButton').prop( "disabled", true );
                $('#manageGroupNameInput').prop( "disabled", true );
                
                console.log("Manage group "+ group_uuid);


                $.ajax({
                        url: "/api/group/" + group_uuid,
                        method: "GET",
                        success: function(data){
                            group_name = data.name;
                            group_member_count = data.member_count;
                            perms = data.can_invite;

                            data.members.forEach(function(member){
                            
                            var element = `
                            <tr>
                                <td>
                                    <img src="${member.image}" referrerpolicy="no-referrer" class="rounded-circle" width="22">
                                    ${member.name}
                                </td>
                                <td>
                                    ${member.email}
                                </td>
                                <td>
                                    ${member.role}
                                </td>
                                <td class="text-end">
                                    `;

                            
                            if (perms){
                                $('#manageGroupNameInput').prop( "disabled", false );
                                $('#manageGroupButton').prop( "disabled", false );
                                if (member.role == "member"){
                                    element += `   <button class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Make Member an Admin"><i class="bi bi-key-fill"></i></button>`;
                                }
                                else if (member.role == "admin"){
                                    element += `   <button class="btn btn-sm btn-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove Admin Privileges"><i class="bi bi-arrow-down-square"></i></button>`;
                                }
                                
                                if (member.role != "owner"){
                                    element += `   <button class="btn btn-sm btn-danger" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Remove User from Group"><i class="bi bi-dash-circle"></i></button>`;
                                }
                            }
                            element += `</td>
                            </tr>    
                            `;
                            $('#manageGroupMembers').append(element);
                        });
                        $('#manageGroupTitle').html("Manage \""+group_name+"\"");
                        $('#manageGroupNameInput').val(group_name);
                        $('#manageGroupUUID').val(group_uuid);
                        $('#manageGroupMemberCount').html("("+group_member_count+")");
                        var myModalEl = document.querySelector('#manageGroupModal')
                        var modal = bootstrap.Modal.getOrCreateInstance(myModalEl)

                        modal.show();
                        },
                        error: function(error) {
                            console.log("Error loading group "+error);
                        }
                    });

                
            }


        </script>
        <style type="text/css">
            
            .form_err {
                border: 1px solid var(--bs-danger) !important;
                box-shadow: 0 0 5px var(--bs-danger) !important;
            }

            .suggestion_result {
                cursor:pointer;
            }
            .suggestion_result:hover {
                background-color: var(--bs-secondary);
                color: var(--bs-light);
            }
            .selected_suggestion {
                background-color: var(--bs-primary);
                color: var(--bs-light);
            }
            .selected_suggestion:hover {
                background-color: var(--bs-primary);
                color: var(--bs-light);
            }
          </style>
    </head>
    <body>
        <!-- Top Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary mb-0">
            <div class="container-fluid">
              <a class="navbar-brand text-light" href="#">OpenFGA Demo App</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <!-- <a class="nav-link active text-light" aria-current="page" href="/">Home</a> -->
                  </li>
                  
                </ul>
              </div>
              <div class="d-flex">
                {% if session %}
                <div class="dropdown">
                    <a class="dropdown-toggle text-decoration-none text-light" href="#" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{user.get('image')}}" referrerpolicy="no-referrer" class="rounded-circle border-white"
                        height="32" alt="Avatar" loading="lazy" />
                    </a>
                    <div class="dropdown-menu dropdown-menu-end text-dark" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/groups"><i class="bi bi-people"></i> Manage Groups</a></li>   
                      <li><a class="dropdown-item text-danger" href="/logout"><i class="bi bi-box-arrow-right"></i> Log Out</a></li>
                      
                    </div>
                  </div>
                   
                {% else %}
                    <a href="/login" role="button" class="btn-success btn"><i class="fs-4 bi-key"></i> Sign In</a>
                    {% endif %}
              </div>
            </div>
          </nav>
          
          <!-- Main Workspace -->
          <div class="container my-4">
            <div class="row justify-content-between">
                <div class="col-4">
                  
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">My Groups ({{data.group_count}})</li>
                    </ol>
                  </nav>
                </div>
                <div class="col-4 text-end">
                  <button class="btn btn-success text-light" data-bs-toggle="modal" data-bs-target="#newGroupModal"><i class="bi bi-plus-circle"></i> New Group</button>
                </div>
              </div>
          </div>
          <div class="container">

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Group Name</th>
                    <th scope="col" class="text-center">Member Count</th>
                    <th scope="col" class="text-end">Actions</th>
                  </tr>
                </thead>
                <tbody>
                    {% for group in data.groups %}
                    <tr>
                        <td>{{ group.group_name }}</td>
                        <td class="text-center">{{ group.member_count }}</td>
                        <td class="text-end">
                            {% if group.can_invite %}
                            <button class="btn btn-info btn-sm" onclick="addMember('{{group.group_uuid}}')"><i class="bi bi-person-add"></i></button>
                            {% endif %}
                            {% if group.access_level == "owner" or group.access_level == "admin" %}
                            <button class="btn btn-primary btn-sm" onclick="manageGroup('{{group.group_uuid}}')"><i class="bi bi-pencil-square"></i></button>
                            {% endif %}
                            {% if group.access_level == "owner" %}
                            <button class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></button>
                            {% endif %}
                        </td>
                      </tr>
                    {% endfor %}

                </tbody>
              </table>


          </div>
        
          <!-- Modals -->

          <div class="modal fade" id="newGroupModal" tabindex="-1" aria-labelledby="newGroupModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-light">
                  <h5 class="modal-title" id="newGroupModalLabel"><i class="fs-4 bi-people text-primary"></i> New Group</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="newGroupNameInput" class="form-label">Group Name</label>
                        <input class="form-control" id="newGroupNameInput" aria-describedby="newGroupNameHelp">
                        <div id="newGroupNameHelp" class="form-text">Enter a name for your new group</div>
                        <input type="hidden" id="manageGroupUUID">
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                  <button type="button" id="newGroupButton" class="btn btn-primary">Create Group</button>
                </div>
              </div>
            </div>
          </div>


          <div class="modal fade" id="manageGroupModal" tabindex="-1" aria-labelledby="manageGroupModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl">
              <div class="modal-content">
                <div class="modal-header bg-light">
                  <h5 class="modal-title" id="manageGroupModalLabel"><i class="fs-4 bi-people text-primary"></i> <span id="manageGroupTitle">Manage Group</span></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">Group Name</span>
                            <input class="form-control" id="manageGroupNameInput">
                            <button type="button" id="manageGroupButton" class="btn btn-primary"><i class="bi bi-floppy-fill"></i></button>
                        </div>
                        
                    </div>
                    <div class="mb-3 w-100 pt-2">
                        
                        <p class="text-center text-secondary"><small><strong>MEMBERS <span id="manageGroupMemberCount"></span></strong></small></p>
                        <hr class="mt-0"/>
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col" class="text-end">Actions</th>
                              </tr>
                            </thead>
                            <tbody id="manageGroupMembers">
                                
            
                            </tbody>
                          </table>
                    </div>
                </div>
                <div class="modal-footer">
                    
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
                    
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="addMemberModal" tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header bg-light">
                  <h5 class="modal-title" id="addMemberModalLabel"><i class="fs-4 bi-person-fill text-primary"></i>  Add Group member</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="addMemberInput" class="form-label">Add member to the group <span id="addMemberGroupName"></span></label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="addMemberInput">
                            <button type="button" id="addMemberConfirm" class="btn btn-primary" disabled="disabled">Add Member</button>
                        </div>
                        
                        <input type="hidden" id="share_uuid">
                        <div class="d-flex justify-content-end mt-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="addMemberGroupAdmin">
                                <label class="form-check-label" for="addMemberGroupAdmin">
                                Make user a group Admin
                                </label>
                            </div>
                        </div>
                      </div>
                      <div class="mb-3">
                        <ul class="list-group" id="addMemberSuggestions">
                            
                          </ul>
                      </div>
                </div>
                
              </div>
            </div>
          </div>
          
          </body>
          </html>